*{ margin: 0; padding: 0; box-sizing: border-box;}
.nav{
    background-color: brown;
    height: 70px;
    
}
.main{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}
.footer{
    background-color: rgb(182, 35, 84);
    height: 80px;
}

#circle{
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid pink;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

#dot{
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%; 
    background-color: pink;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}